.form-div{
    background-color:#24292f;
    height: 70px;

}

.form{
    display: flex;
    justify-content: center;
    padding: 15px 0;
    
}

.form-input{
    width: 500px;
}

.components{
    margin: auto 20px;
    margin-top: 10px;
    justify-content: center;
}

.profilescard{
    margin-bottom: 10px;
}

.repositoriestable{
    border-style: groove;
    padding: 10px;
    border-radius: 10px;
}